<div class="container">
  <h1>Weather May Weathers App</h1>

  <h5>Location: <%= @channel["location"]["city"] %>, <%= @channel["location"]["region"] %></h5>
  <h5>Temperature: <%= @channel["item"]["condition"]["temp"] %>째 <%= @channel["units"]["temperature"] %></h5>

  <%# 5.times do |index| %>
    <!-- <h5>Week Day Forecast: <%# @channel["item"]["forecast"][index]째 %></h5> -->
  <%# end %>
</div>
<div class="container">
  <% @channel["item"]["forecast"].take(5).each do |forecast| %>
    <h5>Date: <%= forecast["day"] %>, <%= forecast["date"] %></h5>
    <h5>Feeling: <%= forecast["text"] %></h5>
    <h5>High/Low: <%= forecast["high"] %>째<%= @channel["units"]["temperature"] %>/ <%= forecast["low"] %>째<%= @channel["units"]["temperature"] %></h5>
    <br>
  <% end  %>
</div>